alembic==0.8.4
bleach==1.4.2
blinker==1.4
colorama==0.3.6
cx-Oracle==5.2.1
Django==1.9.4
dominate==2.1.16
Flask==0.10.1
flask-bootstrap==3.3.5.7
flask-login==0.3.2
flask-mail==0.9.1
flask-migrate==1.8.0
flask-moment==0.5.1
flask-pagedown==0.2.1
flask-script==2.0.5
Flask-SQLAlchemy==2.1
flask-wtf==0.12
forgerypy==0.1
html5lib==0.9999999
httpie==0.9.3
image==1.4.4
itsdangerous==0.24
Jinja2==2.8
mako==1.0.3
Markdown==2.6.5
MarkupSafe==0.23
Pillow==3.1.1
psycopg2==2.6.1
pygments==2.1.1
python-editor==0.5
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.12
visitor==0.1.2
Werkzeug==0.11.4
wtforms==2.1
