{% extends 'base.html' %}
{% block content %}
<div>
    <div class="tool_nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{url_for('.tool_bookmark')}}">书签</a></li>
            <li role="presentation"><a href="{{url_for('.tool_mail')}}">邮件管理</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
    <div class="tool_content">
        {% block tool_content %}
        {% endblock %}
    </div>
</div>
{% endblock%}
